

.imagen{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

#imagen{
padding: 0% ;
}

.imaPrincipal{

    width: 100%;
    height: 200px;
    
       
}

header{
    background-color: rgb(2, 140,174);
   
}



.body{
background-color: rgb(5, 156,188);

}

#formulario{
padding: 1px;
}

.formulario{
   width: 300px;
   
}



#menu{
    background-color: #eeeeee;
      
}

#menu ul{
    padding: 0%;
}

#menu ul li{
    display: inline-block;
    
    border-left: 1px solid #cccccc;
   
}

#menu ul li a{
    display: block;
    padding: 15px;
    color: #444444;
   
}

/*Pseudo clase;*/
#menu ul li:hover {
    background: rgb(16,75,143);
    cursor: pointer;
}

#menu ul li:hover a{
    color: white;
}

.clearfix{
    float: none;
    clear: both;
}

#menu1{
    padding: 1px;
}

#video{
    padding: 1px;
}

.mundo{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 50px;
}

@media screen and (max-width: 768px){

    #barra_superior{
        display: none;
    }
   
}

@media screen and (min-width: 768px){
    #barra_nav{
    display: none;
    }
}